{% extends 'base.html' %} {% block content %}
<h1>{{game.name}} Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        {% if game.price != 0%}
        <p>Price: ${{ game.price }}</p>
        {% else %}
        <p>Price: Free</p>
        {% endif %}
        <p>{{game.summary}}</p>
        {% if game.series != 'None' %}
        <p>Series: {{ game.series }}</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for review in game.review_set.all %}
        <tr>
          <td>{{review.date}}</td>
          <td>{{review.review}}</td>
          <td>{{review.rating}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
